.subfooter{
    height: 383px;
}

.footer{
    position: relative;
    height: 383px;
    margin-top: -383px;
    background-color: #69135e;
    box-sizing: border-box;
    padding-top: 102px;
    overflow: hidden;
}
.footer .footer__top{
    margin-bottom: 51px;
}
.footer::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 97px;
    width: 100%;
    background-image: url(../img/footer-cloud-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
}

.footer .subscription-text{
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    width: 100%;
    max-width: 285px;
    clear: both;
    margin-bottom: 37px;
}
.footer .subscription-form{
    position: relative;
    float: left;
    width: 100%;
    max-width: 318px;
    margin-right: 10px;
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 3px;
}
.footer .subscription-form input[type="text"]{
    background-color: transparent;
    display: block;
    width: 100%;
    height: 42px;
    font-size: 18px;
    color: #fff;
    box-sizing: border-box;
    padding-right: 25px;  
    
}
.footer .subscription-form button{
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 25px; 
    background-image: url(../img/right-btn-arrow.svg);
    background-position: 100% 60%;
    background-repeat: no-repeat;
    background-size: 13px 10px;
    background-color: transparent;
}
.footer .main-menu{
    float: right;
}
.footer .inputbox::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color:#fff; font-family: 'AlegreyaSans-Regular', sans-serif;}
.footer .inputbox::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:#fff; font-family: 'AlegreyaSans-Regular', sans-serif;}
.footer .inputbox:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; color:#fff; font-family: 'AlegreyaSans-Regular', sans-serif;}
.footer .inputbox:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease; color:#fff; font-family: 'AlegreyaSans-Regular', sans-serif;}
.footer .inputbox:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease; font-family: 'AlegreyaSans-Regular', sans-serif;}
.footer .inputbox:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease; font-family: 'AlegreyaSans-Regular', sans-serif;}
.footer .inputbox:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease; font-family: 'AlegreyaSans-Regular', sans-serif;}
.footer .inputbox:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease; font-family: 'AlegreyaSans-Regular', sans-serif;}

.footer .main-menu{
    margin-top: 8px;
}

.footer .footer__bottom{
    position: relative;
    z-index: 30;
    box-sizing: border-box;
    padding-top: 29px;
    min-height: 110px;
    background-image: url(../img/footer-bottom-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.footer__bottom .social{
    clear: both;
    margin-bottom: 3px;
}
.footer__bottom .social a.facebook {
    font-size: 17px;
    margin-right: 20px;
    top: 1px;
}
.footer__bottom .social a.vk {
    font-size: 16px;
    top: 4px;
    margin-right: 26px;
}
.footer__bottom .social a.instagram {
    font-size: 15px;
    top: 3px;
}
.footer .footer__bottom .footer__bottom__text{
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    margin-right: 17px;
}
.footer .footer__bottom .copyright {
    margin-left: 6px;
    margin-right: 17px;
}
.footer .communication-box{
    float: right;
    top: -4px;
    position: relative;
    max-width: 345px;
}
.footer .communication-box .message-box .viber {
    width: 27px;
    height: 34px;
    background-position: 0px -61px; 
}
.footer .communication-box .message-box .whatsApp { 
    background-position: -151px -64px;
}
.footer .communication-box .message-box .telegram {
    width: 34px;
    height: 39px;
    background-position: 100% -61px;
    margin-left: 20px;
}

.footer .footer-star-1{
    width: 37px;
    height: 38px;
    right: 123.5%;
    bottom: -19px;
    background-image: url(../img/footer-star-1.png);
}
.footer .footer-star-2{
    width: 69px;
    height: 70px;
    right: 115.2%;
    top: 5px;
    background-image: url(../img/green-star.png);
}
.footer .footer-star-3{
    width: 142px;
    height: 144px;
    bottom: -160px;
    left: 28%;
    background-image: url(../img/footer-star-3.png);
}
.footer .footer-star-4{
    width: 130px;
    height: 132px;
    top: -130px;
    left: 38.5%;
    background-image: url(../img/purpur-star.png);
}
.footer .footer-star-5{
    width: 30px;
    height: 30px;
    bottom: -64px;
    left: 59.5%;
    background-image: url(../img/footer-star-5.png);
}
.footer .footer-star-6{
    width: 33px;
    height: 34px;
    top: -32px;
    right: 26.5%; 
    background-image: url(../img/blue-star.png);
}
.footer .footer-star-7{
    width: 207px;
    height: 222px;
    top: -192px;
    right: 5%;
    background-image: url(../img/footer-star-7.png);
}
.footer .footer-star-8{
    width: 69px;
    height: 70px;
    top: 9px;
    left: 119.7%;
    background-image: url(../img/orang-star.png);
}
.footer .footer-star-9 {
    width: 33px;
    height: 34px;
    top: 99px;
    left: 128%;
    background-image: url(../img/footer-star-9.png);
}