@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon/icomoon.eot?afcx6d');
  src:  url('../assets/fonts/icomoon/icomoon.eot?afcx6d#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon/icomoon.ttf?afcx6d') format('truetype'),
    url('../assets/fonts/icomoon/icomoon.woff?afcx6d') format('woff'),
    url('../assets/fonts/icomoon/icomoon.svg?afcx6d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
//[class^="icon-"], [class*=" icon-"]
 .icomoon{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zoom-in:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e903";
}
.icon-find:before {
  content: "\e903";
}
.icon-lookup:before {
  content: "\e903";
}
.icon-magnifier:before {
  content: "\e903";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-shopping-cart:before {
  content: "\e902";
}
.icon-vk:before {
  content: "\e901";
}
.icon-vk1:before {
  content: "\e900";
}
.icon-heart-o:before {
  content: "\e904";
}
.icon-vk1:before {
  content: "\e900";
}
